{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <div class="row">
        {% for listing in listings %}
            <div class="col-12 mb-13">
                <div class="card flex-row align-items-center p-3">
                    <img src="{{ listing.imageURL }}" class="img-thumbnail" style="max-width: 250px; width: 100%; object-fit: cover;" alt="{{ listing.title }}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'listingpage' listing.id %}">{{ listing.title }}</a></h5>
                        <p class="card-text">Current Price: <strong>${{ listing.price }}</strong></p>
                        {% if listing.isActive %}
                            <span class="badge badge-success">Active</span>
                        {% else %}
                            <span class="badge badge-secondary">Closed</span>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{% url 'remove_watchlist' listing.id %}" class="btn btn-outline-danger btn-sm mb-2">Remove from Watchlist</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>DEBUG: No listings were found in the database for this user.</p>
        {% endfor %}
    </div>
{% endblock %}